@model _3_CRUD.Controllers.Bind

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Login Page</h2>
        <input type="submit" value="Login" />
    </div>
</body>
</html>
